---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus
  namespace: {{ app_lifecycle_lab_namespace }}
  labels:
    app: nexus
    app.kubernetes.io/instance: nexus
    app.kubernetes.io/name: nexus
    app.kubernetes.io/part-of: nexus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
      - name: nexus
        image: registry.connect.redhat.com/sonatype/nexus-repository-manager:3.38.1-ubi-1
        env:
        - name: NEXUS_SECURITY_RANDOMPASSWORD
          value: "False"
        - name: CONTEXT_PATH
          value: /
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
          protocol: TCP
        livenessProbe:
          exec:
            command:
            - echo
            - ok
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            memory: 4Gi
            cpu: 2
          requests:
            memory: 512Mi
            cpu: 200m
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /nexus-data
          name: nexus-data
      volumes:
      - name: nexus-data
        persistentVolumeClaim:
          claimName: nexus-pv
---
apiVersion: v1
kind: Service
metadata:
  name: nexus
  namespace: {{ app_lifecycle_lab_namespace }}
  labels:
    app: nexus
spec:
  ports:
  - name: 8081-tcp
    port: 8081
    protocol: TCP
    targetPort: 8081
  selector:
    app: nexus
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: nexus
  namespace: {{ app_lifecycle_lab_namespace }}
  labels:
    app: nexus
spec:
  host: nexus.{{ ocp_ingress_domain[0] }}
  port:
    targetPort: 8081-tcp
  to:
    kind: Service
    name: nexus
    weight: 100
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus-pv
  namespace: {{ app_lifecycle_lab_namespace }}
  labels:
    app: nexus
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
