apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: ee-helm-image
  namespace: {{ app_lifecycle_lab_namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
  - from:
      kind: DockerImage
      name: quay.io/ansible_helm/ee-helm-image:1.0.0
    name: "1.0.0"
    referencePolicy:
      type: Local
