apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-app
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: demo-app
  source:
    path: deploy
    repoURL: 'http://gitea.{{ ocp_ingress_domain[0] }}/gitea/demo-app.git'
    targetRevision: master
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: demo-app
  syncPolicy:
    automated: {}